/* ---------------------- */
/* BASICS */
/* ---------------------- */
html {
    font-family: 'Lato', 'Arial', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.logbody {
    background-image: url(jim-cooke-r6g4GcD6lP0-unsplash.jpg);
    background-size: cover;
    height: 100vh;
}


.row {
    max-width: 1140px;
    margin: 0 auto;
}

/* ---------------------- */
/* Header */
/* ---------------------- */

header{
    border-bottom: 1px solid #999;
    background-color: #f1f2f6;
}

header h1 {
    font-family: 'MedievalSharp', cursive;
    text-align: center;
    font-weight: 600;
    font-size: 230%;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #4a4a4a;
    padding-top: 7%;
}


header h2 {
    text-align: right;
    font-weight: 500;
    font-size: 110%;
    padding-top: 8%;
}

header img{
    width: 40%;
    margin: 0;
}

/* ---------------------- */
/* BUTTONS */
/* ---------------------- */

input[type=submit] {
    display: inline-block;
    background-color: #f05c80;
    border: 1px solid #f05c80;
    color: #fff;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

input[type=submit]:hover,
input[type=submit]:active {
    background-color: #ed3d68;
    border: 1px solid #ed3d68;
}

.logbtn {
    text-align: center;
    margin-top: 3%;
}

.logbtn input[type=submit] {
    padding: 10px 30px;
    font-weight: 400;
    border-radius: 200px;
}

.ava-btn {
    text-align: center;
    margin-top: 3%;
}

.ava-btn input[type=submit]{
    margin-bottom: 3%;
    padding: 2% 6%;
    border-radius: 200px;
    font-weight: 600;
    font-size: 100%;
}

/* ---------------------- */
/* Login */
/* ---------------------- */

.loginf {
    width: 30%;
    background-color: #f1f2f6;
    opacity: 98%;
    margin: 4.4% auto 0 auto;
    padding: 3% 3% 3% 3%;
    border-radius: 3%;
}

.loginf h2{
    text-align: center;
}

.contact-form {
    width: 100%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.loginf input[type=text],
.loginf input[type=password]{
    width: 100%;
    padding: 4%;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
}




.container {
    margin-top: 4%;
    background-color: #f1f2f6;
    border-radius: 1%;
    width: 60%;
    position: relative;
    z-index: 9000;
    opacity: 100%;
}

.container h2{
    text-align: center;
    margin-top: 1%;
    font-size: 170%;
}

.container h3 {
    margin-top: 3%;
    letter-spacing: 1px;
    font-size: 120%;
    text-transform: uppercase;
    margin-left: 15%;
}

.container input[type=text]{
    margin-top: 3.5%;
    margin-left: 15%;
    padding: 1.5% 1%;
    font-size: 140%;
    letter-spacing: 2px;
    width: 60%;
}

.avatar {
    width: 70%;
    margin-left: 15%;
}

.avatar img {
    width: 50%;
    height: auto;
    border-radius: 50%;
    padding: 3%;
}

[type=radio] {
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio] + img {
    cursor: pointer;
    border: 2px solid #f1f2f6;
}

[type=radio]:checked + img{
    border: 2px solid #ed3d68;
}

.avatar:first-of-type {
    margin-top: 3%;
}

.avatar:last-of-type{
    margin-top: 1%;
}

#particles-js {
height: 100%;
width: 100%;
position: absolute;
background: linear-gradient(45deg, #22A7F0, #2ECC71);
}


.gamecon {
    height: 450px;
    margin-top: 2%;
    background-color: #f1f2f6;
    border-radius: 1%;
    position: relative;
}

.gamecon img {
    width: 225px;
    padding: 0;
}

.b1 {
    float: left;
    border-right: solid black;
}

.b2 {
    float: right;
    border-right: solid black;
    transform: scaleX(-1);
}

.content {
    text-align: center;
}

.content h3 {
    line-height: 14vh;
    height: 14vh;
    border-bottom: solid black;
}

.choice {
    width: 90%;
    height: 35px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-size: 150%;
    padding: 5px;
    border: 0.5px solid #bebebe;
    transition: 0.2s background-color; 0.2s font-size; 0.2s color; 0.2s border;
}

.choice:hover {
    cursor: pointer;
    background-color: #ed3d68;
    font-size: 160%;
    color: #fff;
    border: #ed3d68;
}